{% extends "layout.html" %}
{% block content %}
<div class="content-section">
   
    {% for doctor in doctors %}
    <article class="media content-section d-flex flex-row">
        <div class="media-body">
            <div class="article-metadata">
                    <p><b>Doctor ID= </b>{{ doctor.id}}</p>
                    <p><b>Docter= </b>{{ doctor.name}}</p>
                    {% if doctor.is_approved==false %}
                     <p> <b>Approval is </b><a href="{{ url_for('approve_doctor', doctor_id=doctor.id) }}">{{ doctor.is_approved}}</a></p>
                    {% else %}
                        <p><b>Approval is </b> {{ doctor.is_approved}}</p>
                    {% endif %}
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}