{% extends "layout.html" %}
{% block content %}
<div class="app-title">
    <h1 class="text-center mt-3 pb-3">
        <i class="bi bi-bandaid"></i>
        <u> <i>Welcome to Appointment App!</i> </u>
    </h1>
    {% if current_user.role=="doctor"%}
    <i><h3 class="text-center">Dr.{{current_user.username}} kindly add your schedule</h3></i>
    {%elif current_user.role=="patient"%}
    <i><h3 class="text-center">Mr.{{current_user.username}} select a date and a doctor</h3></i>
    {% endif %}
</div>
    {% for doctor in doctors %}
    <div class="card my-3">
        <div class="card-header d-flex align-items-center">
          <h3 class="mb-0">
            <i class="bi bi-person-badge-fill"></i>
            Dr.{{doctor.name}}
          </h3>
          <div style="width: 5px;"></div>
          <i style="font-weight: 500;">({{doctor.specialization}})</i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Email : {{doctor.email}}</h5> 
          <a href="{{ url_for('view_doctor_schedule', id=doctor.user_id )}}" class="btn btn-info"> view Schedules</a>         
        </div>
      </div>
    {% endfor %}
{% endblock %}